[submodule "libdatachannel/libdatachannel-sys/libdatachannel"]
	path = libdatachannel/libdatachannel-sys/libdatachannel
	url = https://github.com/tangobattle/libdatachannel
[submodule "gamesupport"]
	path = gamesupport
	url = https://github.com/tangobattle/gamesupport.git
