[submodule "mgba/mgba-sys/mgba"]
	path = mgba/mgba-sys/mgba
	url = https://github.com/tangobattle/mgba
[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/tangobattle/libdatachannel
