[package]
name = "tango"
version = "4.1.4"
edition = "2021"
license = "AGPL-3.0-or-later"
default-run = "tango"

[features]
default = ["glutin", "wgpu", "cpal", "sdl2-audio"]
sdl2-audio = []
glutin = ["dep:glutin", "dep:egui_glow"]
cpal = ["dep:cpal"]
wgpu = ["dep:wgpu", "dep:egui-wgpu"]

[dependencies]
anyhow = "1"
arboard = "2"
async-trait = "0.1"
bincode = "1"
bps = { path = "../bps" }
bytemuck = "1"
byteorder = "1"
bytes = "1"
chrono = "0.4"
clap = { version = "4", features = ["derive"] }
cpal = { version = "0.15", optional = true }
crc32fast = "1"
dark-light = "1"
datachannel-wrapper = { path = "../datachannel-wrapper" }
directories-next = "2"
egui = { version = "0.27", features = [] }
egui-wgpu = { version = "0.27", features = ["winit"], optional = true }
egui-winit = "0.27"
egui_commonmark = '0.15'
egui_extras = { version = "0.27", features = ["image"] }
egui_glow = { version = "0.27", features = [
  "winit",
  "clipboard",
  "links"
], optional = true }
env_logger = "0.9"
fluent-bundle = "0.15"
fluent-langneg = "0.13"
fluent-templates = "0.8"
fontdue = { version = "0.8", features = ["simd", "parallel"] }
futures = "0.3"
futures-util = "0.3"
glow = "0.13"
glutin = { version = "0.31", optional = true }
glutin-winit = "0.4"
hqx = { path = "../hqx" }
image = { version = "0.24", features = ["png"] }
indexmap = "1.9"
input-helper = { path = "../input-helper" }
itertools = "0.10"
lazy_static = "1.4"
log = "0.4"
mailparse = "0.13"
mgba = { path = "../mgba" }
mmpx = { path = "../mmpx" }
ndarray = "0.15"
num-derive = "0.3"
num-traits = "0.2"
oneshot = "0.1"
open = "3"
parking_lot = { version = "0.12" }
png = "0.17"
pollster = "0.3"
prost = "0.10"
rand = "0.8"
rand_pcg = { version = "0.3", features = ["serde1"] }
raw-window-handle = "0.5"
regex = "1.6"
reqwest = { version = "0.11", features = ["stream", "json"] }
reservoir-sampling = "0.5"
rfd = "0.10"
sdl2 = { version = "0.35", features = ["static-link", "bundled"] }
semver = { version = "1", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
serde-hex = "0.1"
serde_json = "1"
serde_plain = "1"
serde_repr = "0.1"
sha2 = "0.10"
sha3 = "0.10"
shell-words = "1"
steamlocate = "1"
subtle = "2"
sys-locale = "0.2"
tango-dataview = { path = "../tango-dataview" }
tango-filesync = { path = "../tango-filesync" }
tango-gamedb = { path = "../tango-gamedb" }
tango-signaling = { path = "../tango-signaling" }
tango-pvp = { path = "../tango-pvp" }
tempfile = "3"
thiserror = "1"
time = { version = "0.3", features = ["formatting", "macros"] }
tiny-skia = "0.7"
tokio = { version = "1", features = ["full"] }
tokio-tungstenite = { version = "0.16", features = ["rustls-tls-webpki-roots"] }
tokio-util = { version = "0.7", features = ["io"] }
toml = "0.5"
unic-langid = { version = "0.9", features = ["likelysubtags"] }
walkdir = "2"
wgpu = { version = "0.19", optional = true, features = ["angle"] }
winit = { version = "0.29", features = ["serde"] }
zip = "0.6"
zstd = "0.11"

[target.'cfg(unix)'.dependencies]
nix = "0.25"

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9"
plist = "1.3"

[build-dependencies]
embed-resource = "1"
