[package]
name = "tango"
version = "4.0.4"
edition = "2021"
license = "AGPL-3.0-or-later"
default-run = "tango"

[features]
default = ["glutin", "sdl2-audio", "wgpu", "cpal"]
sdl2-audio = []
glutin = ["dep:glutin", "dep:egui_glow"]
cpal = ["dep:cpal"]
wgpu = ["dep:wgpu", "dep:egui-wgpu"]

[dependencies]
anyhow = "1.0"
env_logger = "0.9.0"
zstd = "0.11.1"
lazy_static = "1.4.0"
log = "0.4"
tokio = { version = "1.15.0", features = ["full"] }
parking_lot = { version = "0.12.0" }
rand = "0.8.5"
sha3 = "0.10.1"
tokio-util = "0.7.1"
subtle = "2.4"
rand_pcg = { version = "0.3.1", features = ["serde1"] }
serde = { version = "1.0", features = ["derive"] }
git-version = "0.3.5"
bincode = "1.3.3"
byteorder = "1.4.3"
time = { version = "0.3.9", features = ["formatting", "macros"] }
futures-util = "0.3.21"
clap = { version = "3.1", features = ["derive"] }
tango-protos = { path = "../tango-protos" }
mgba = { path = "../mgba" }
tempfile = "3.3.0"
shell-words = "1.1"
serde_json = "1.0"
url = "2.2"
datachannel-wrapper = { path = "../datachannel-wrapper" }
tokio-tungstenite = { version = "0.16.1", features = [
    "rustls-tls-webpki-roots",
] }
prost = "0.10"
bytes = "1.1.0"
sdl2 = { version = "0.35", features = ["static-link", "bundled"] }
input-helper = { path = "../input-helper" }
serde_repr = "0.1"
serde_plain = "1.0"
png = "0.17"
hqx = { path = "../hqx" }
mmpx = { path = "../mmpx" }
image = { version = "0.24", features = ["png"] }
thiserror = "1.0"
egui = { version = "0.19", features = [] }
glow = "0.11"
egui_glow = { version = "0.19", features = ["winit", "clipboard", "links"], optional = true }
egui-wgpu = { version = "0.19", features = ["winit"], optional = true }
egui-winit = "0.19"
glutin = { version = "0.29", features = ["serde"], optional = true }
cpal = { version = "0.13", optional = true }
fluent-bundle = "0.15"
fluent-templates = "0.8"
unic-langid = { version = "0.9", features = ["likelysubtags"] }
sys-locale = "0.2"
egui_extras = { version = "0.19", features = ["image"] }
directories-next = "2.0"
dark-light = "0.2"
arboard = "2.1"
tiny-skia = "0.7"
reservoir-sampling = "0.5"
walkdir = "2.3"
crc32fast = "1.3"
urlencoding = "2.1"
toml = "0.5"
semver = { version = "1.0", features = ["serde"] }
mailparse = "0.13"
regex = "1.6"
open = "3.0"
indexmap = "1.9"
bytemuck = "1.12"
rfd = "0.10"
chrono = "0.4"
chrono_locale = "0.1"
itertools = "0.10"
reqwest = { version = "0.11", features = ["stream", "json"] }
oneshot = "0.1"
winit = { version = "0.27", features = ["serde"] }
wgpu = { version = "0.13", optional = true, features = ["angle"] }
async-recursion = "1.0"
sha2 = "0.10"
serde-hex = "0.1"
futures = "0.3"
fontdue = "0.7"
num-traits = "0.2"
num-derive = "0.3"

[target.'cfg(unix)'.dependencies]
fork = "0.1"

[build-dependencies]
embed-resource = "1.7"
prost-build = "0.10"
