#include "winver.h"

1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    4,0,0,0
    PRODUCTVERSION 4,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Tango\0"
            VALUE "ProductVersion", "4.0.0.0\0"
            VALUE "FileVersion", "4.0.0.0\0"
            VALUE "OriginalFilename", "tango.exe\0"
            VALUE "Info", "https://tangobattle.com\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

