[package]
name = "tango-core"
version = "0.0.0"
edition = "2021"
license = "AGPL-3.0-or-later"
default-run = "tango-core"

[dependencies]
anyhow = "1.0"
env_logger = "0.9.0"
zstd = "0.11.1"
lazy_static = "1.4.0"
log = "0.4"
tokio = { version = "1.15.0", features = ["full"] }
parking_lot = { version = "0.12.0" }
rand = "0.8.5"
sha3 = "0.10.1"
tokio-util = "0.7.1"
tokio-stream = "0.1.8"
subtle = "2.4"
rand_pcg = { version = "0.3.1", features = ["serde1"] }
serde = { version = "1.0", features = ["derive"] }
git-version = "0.3.5"
bincode = "1.3.3"
byteorder = "1.4.3"
time = { version = "0.3.9", features = ["formatting", "macros"] }
futures-util = "0.3.21"
clap = { version = "3.1", features = ["derive"] }
tango-protos = { path = "../tango-protos" }
mgba = { path = "../mgba" }
tempfile = "3.3.0"
shell-words = "1.1"
serde_json = "1.0"
url = "2.2"
datachannel-wrapper = { path = "../datachannel-wrapper" }
tokio-tungstenite = { version = "0.16.1", features = [
    "rustls-tls-webpki-roots",
] }
prost = "0.10"
bytes = "1.1.0"
sdl2 = { version = "0.35", features = ["static-link", "bundled"] }
sdl2-input-helper = { path = "../sdl2-input-helper" }
serde_repr = "0.1"
hex = "0.4"
bitvec = "1.0"
png = "0.17"
ab_glyph = "0.2"

[build-dependencies]
winres = "0.1"
prost-build = "0.10"
